
#include <aucntrl.h>
#include "autest.h"

DLG_JUNK DIALOG 84, 58, 113, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Audio controls test"
BEGIN
	PUSHBUTTON "&OK", IDOK, 85, 85, 24, 14, WS_CHILD | WS_VISIBLE
	CONTROL "", IDC_ENV1, ENVELOPE_CLASS_NAME, WS_CHILD | WS_VISIBLE, 4, 3, 75, 45
	CONTROL "Env.\nattack", IDC_A1, SLIDER_CLASS_NAME, WS_CHILD | WS_VISIBLE, 4, 52, 15, 50
	CONTROL "Env.\nhold", IDC_H1, SLIDER_CLASS_NAME, WS_CHILD | WS_VISIBLE, 19, 52, 15, 50
	CONTROL "Env.\ndecay", IDC_D1, SLIDER_CLASS_NAME, WS_CHILD | WS_VISIBLE, 34, 52, 15, 50
	CONTROL "Env.\nsust.", IDC_S1, SLIDER_CLASS_NAME, WS_CHILD | WS_VISIBLE, 49, 52, 15, 50
	CONTROL "Env.\nrels.", IDC_R1, SLIDER_CLASS_NAME, WS_CHILD | WS_VISIBLE, 64, 52, 15, 50
	CONTROL "", IDC_PIN1, PIN_CLASS_NAME, WS_CHILD | WS_VISIBLE, 94, 4, 8, 8
	CONTROL "Pin\nvalue", IDC_PIN1_SLIDER, SLIDER_CLASS_NAME, WS_CHILD | WS_VISIBLE, 91, 15, 15, 50
	PUSHBUTTON "Hide", IDC_HIDE1, 4, 106, 14, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hide", IDC_HIDE2, 19, 106, 14, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hide", IDC_HIDE3, 34, 106, 14, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hide", IDC_HIDE4, 49, 106, 14, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hide", IDC_HIDE5, 64, 106, 14, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
